<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>산술 연산</h1>
  <ul>
    <li>
      <span th:text="7+3"></span>
      <span th:text="7-2"></span>
      <span th:text="7/5"></span>
      <span th:text="7%9"></span>
      <span th:text="7-0 == 0"></span>
    </li>
  </ul>
<h1>비교 연산</h1>
<ul>
  <li>
    <span th:text="7 &gt; 3"></span>
    <span th:text="7 &lt; 3"></span>
  </li>
</ul>
<h1>조건식</h1>
<ul>
  <li>
    <span th:text="(7%3 == 0)?'짝수':'홀수'"></span>
  </li>
</ul>
<h1>Elvis 연산자</h1>
<ul>
  <li>
    <span th:text="${data}?:'데이터가 없어요'"></span>
  </li>
</ul>
<h1>No-Operation</h1>
<ul>
  <li>
    <span th:text="${nullPractice}?: _">데이터가 없어요</span>
  </li>
</ul>

</body>
</html>